* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #dfdfdf;
}

.container {
    width: 100%;
    height: 100%;
    width: 360px;
    background-color:white;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px;
    height: 500px;
}

.container h2 {
    text-align: center;
    font-size: 30px;
    color: black;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 2px;
    margin-bottom: 25px;

}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;

}

button {
    border: none;
    outline: none;
    padding: 15px 20px;
    color: white;
    background: #ff5945;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;


}

input[type] {
    font-size: 18px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    position: relative;
    user-select: none;
}
/* ul li::before{ 
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 60%;
    background-image: url(images/check-icon-vector-10850982.jpg);
    background-size: cover;
    background-position: center;
    border:  2px solid white;
    left: 8px;
    top: 1px;
 }
 ul li.checked::before{ 
 background-image: url(images/check-icon-vector-10850982.jpg); 
}  */
ul li span{
    position: absolute;
    right: 0;
    top: 3px;
    width: 40px;
    height: 40px;
    font-size: 35px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background:#ff5945;

}
